/node_modules
/package-lock.json
/firebase-debug.log
/src/firebase-config.json
/src/ethereum/web3-config.json
/src/ethereum/build/
/.firebaserc
/public/bundle.css
/public/bundle.css.map
/public/bundle.js
/public/bundle.js.map
/public/*.png
*.cache