/node_modules
/firebase-debug.log
/src/firebase-config.json
/ethereum/web3-config.json
/ethereum/build/
/.firebaserc
/public/bundle.css
/public/bundle.css.map
/public/bundle.js
/public/bundle.js.map
/public/*.png